# Diretórios locais do Terraform
.terraform/

# Arquivos de state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Variáveis sensíveis
*.tfvars
*.tfvars.json

# NÃO ignore o lockfile – ele pode/deve ser versionado
# .terraform.lock.hcl
